body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.card-wide.mdl-card {
  width: 505px;
  height: 350px;
}

.card-wide.mdl-card > .mdl-card__title {
  color: #fff;
  background-color: #323840;
}

td {
    font-weight: bold;
}
