.search {
  text-align: center;
  margin-top: 15px;
}

.search-results {
  position: absolute;
  background-color: #FFFFFF;
  width: 95%;
  z-index: 1;
  opacity: 0.85
}

.search_result {
  background-color: #FFFFFF;
  height: 40px;
  text-align: center;
}

.search_result:hover {
  background-color: #5DBCD2;
}
.search_result img{
  float: left;
}
.search_result button{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}
